/config/*.json
/config/modules/*.json
!/config/*.sample.json
/modules
/logs/
/node_modules/
*.js
*.js.map
__pycache__
npm-debug.log
/db.ts
/db-init.ts
/ssl
/docker-compose.override.yml
/helpers/index.ts
/lib/index.ts
/server/api/index.ts
/docs/generated
