/config/*.json
/config/**/*.json
!/config/*.sample.json
!/config/**/*.sample.json
/modules
*.log
/node_modules/
*.js
*.js.map
__pycache__
npm-debug.log
/db.ts
/db-init.ts
/ssl
/docker-compose.override.yml
/helpers/index.ts
/lib/index.ts
/server/api/index.ts
