doctype html
html
    head
        meta(charset="utf8")
        title Error #{errorCode}
    body
        h1 Error #{errorCode}
        p
            block explanation
                | #{errorDescription}
        p Please report this error code to the email below, along with a description of what you were doing when the error occurred.
        footer For further support, please contact us at 
            a(href="mailto:" + email) #{email}
            | .
